<!DOCTYPE html>
<html>
  <head>
    <title>AlignFinancial</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet"> 
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.logoWhiteURL = "<%= image_url('logo-on-white.png') %>";
      window.logoURL = "<%= image_url('logo.png') %>";
      window.selectChecking = "<%= image_url('interest-checking.png') %>";
      window.selectSavings = "<%= image_url('online-savings.png') %>";
      window.selectMM = "<%= image_url('money-market.png') %>";
    </script>

    <% if logged_in? %>
      <script type='text/javascript'>
        window.currentUser = <%= render('/api/users/user.json.jbuilder', user: current_user).html_safe %>
        window.lastLogin = '<%= last_login_time %>'
      </script>
    <% end %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
