<!DOCTYPE html>
<html>
  <head>
    <title>AlignFinancial</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:title" content="Align Financial" />
    <meta property='og:image' content="<%= image_url('logo.png') %>"/>
    <meta property="og:description" content="Align Financial, an Ally Bank clone, is an online-only bank that offers interest checking, high-yield savings, and money market accounts." />
    <meta property="og:url" content="https://align-financial.herokuapp.com/#/" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet"> 
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="shortcut icon" href="<%= image_url('square-logo.png') %>">

    <script type="text/javascript">
      window.logoWhiteURL = "<%= image_url('logo-on-white-transparent.png') %>";
      window.logoURL = "<%= image_url('logo-transparent.png') %>";
      window.selectChecking = "<%= image_url('interest-checking.png') %>";
      window.selectSavings = "<%= image_url('online-savings.png') %>";
      window.selectMM = "<%= image_url('money-market.png') %>";
      window.exampleAccount = "<%= image_url('example-account.png') %>";

      window.lastLogin = '<%= last_login_time %>'
    </script>

    <% if logged_in? %>
      <script type='text/javascript'>
        window.currentUser = <%= render('/api/users/user.json.jbuilder', user: current_user).html_safe %>

      </script>
    <% end %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
